doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    container.container-table
      .row.vertical-center-row
        .text-center.col-md-4.col-md-offset-4(style='background:red')
          h1 The Mendicity Institution Trust

          h2 "Helping people get from the workhouse back home"
          input(type='submit', value='Start')
