doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .row
      .col-xs-8
        p
          The Mendicity Institution ("The Mendo") is Dublin's second oldest charity, established in 1818.  During its life-span, it has always worked towards the relief of poverty in the city and continues today as a food centre providing free meals daily, including Sunday brunch.

      .col-xs-4
        img(src='/images/mendo.jpg')
